<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/authCSS.css">
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="form">
        <form name="f" action="/process_login" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    
            <label for="username">Enter your username: </label>
            <div class="custom_input">
                <input class="input" type="text" name="username" id="username">
            </div>
            <br>
            <label for="password">Enter your password: </label>
            <div class="custom_input">
                <input class="input" type="password" name="password" id="password">
            </div>
            <br>
            <input type="submit" value="Login">
            <a class="signup" href="/auth/register">Sign up</a>
            <div th:if="${param.error}" style="color: red; font-size: 20px;">
                Bad username or password!
            </div>
        </form>
    </div>
        <h1>Welcome <br> back!</h1>
</div>
<script>
    const form = document.querySelector('.container');

    form.addEventListener('mousemove', () => {
      form.style.transition = 'border 0.3s';
      form.style.border = "solid 1px red";
    });

    form.addEventListener('mouseout', () => {
      form.style.transition = 'border 0.3s';
      form.style.border = "none";
    });
</script>
</body>
</html>
