<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base :: base">
<head>
    <meta charset="UTF-8">
    <title>Edit Expense</title>
</head>
<body>
<h1>Edit Expense</h1>
<form th:action="@{/budget/expenses}" th:method="post" th:object="${budget}">
    <label for="amount">Amount: </label>
    <input type="number" th:field="*{amount}" step="0.01" id="amount">
    <label for="category">Category: </label>
    <select th:field="*{category}" id="category">
        <option value="" disabled selected>Select a category</option>
        <option th:each="category : ${categories}" th:value="${category.getCategory_id()}" th:text="${category.getCategory_name()}"></option>
    </select>
    <input type="submit" value="Edit Expense">
</form>
</body>
</html>
