<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Income</title>
</head>
<body>
<h1>Edit Income</h1>
<form th:action="@{/budget/{id}/edit(id=${budget.getId()})}" th:method="post" th:object="${budget}">
    <label for="amount">Amount: </label>
    <input type="number" th:field="*{amount}" min="0.01" step="0.01" id="amount">
    <label for="category">Category: </label>
    <select th:field="*{category}" id="category">
        <option value="" disabled selected>Select a category</option>
        <option th:each="category : ${categories}" th:value="${category.getCategory_id()}" th:text="${category.getCategory_name()}"></option>
    </select>
    <input type="hidden" name="type" value="income">
    <input type="submit" value="Edit Income">
</form>
</body>
</html>